.BurgerContainer {
	margin: 0 auto;
	text-align: center;
	/* background-color: red; */
	/* max-width: 700px; */
	/* max-height: 500px; */
	flex: 1;
}

@media (max-width: 499px) {
	.BurgerContainer {
		margin: auto;
		padding: 20px 20px;
		text-align: center;
		/* width: 70%; */
	}
}
