.Ingredient {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 5fr;
	justify-content: center;
	align-items: center;
	margin: 5px 0 5px 0;
}
.PlusButton,
.MinusButton {
	margin: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	position: relative;
	background-color: transparent;
	border: 2px solid rgb(145, 145, 145);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 200;
}
.PlusButton::after {
	/* content: '+';
	position: absolute;
	text-align: center;
	margin: auto;
	display: block; */
	/* background-color: #333; */
	/* height: 15px; */
	/* margin-top: -5px;
	top: 50%;
	left: 11px;
	right: 11px;
	z-index: 9; */
}
/* .PlusButton::before {
	content: ' ';
	position: absolute;
	display: block;
	background-color: #333;
	width: 15px;
	margin-left: -5px;
	left: 50%;
	top: 11px;
	bottom: 11px;
	z-index: 9;
} */
.Quantity {
	color: rgb(189, 189, 189);
	font-size: 1.2rem;
}
.IngredientName {
	text-align: left;
	margin-left: 20px;
	text-transform: capitalize;
}
