.Modal {
	position: fixed;
	display: flex;
	z-index: 100;
	top: calc(50% - 250px);
	left: calc(50% - 300px);
	background-color: white;
	filter: drop-shadow(0 0 30px rgb(136, 136, 136));
	height: 500px;
	width: 600px;
	transition: all 0.3s ease-out;
}
