main {
	text-align: center;
	margin: auto;
	width: 100%;
}

.Container {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin: 0;
}
@media (max-width: 767px) {
	.Container {
		align-items: center;
		flex-direction: column-reverse;
		justify-content: center;
		margin: 0;
	}
}
