:root {
	--main-color: #333;
	--header-height: 70px;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: var(--main-color);
}
main {
	padding-top: var(--header-height);
}
.black-button {
	background-color: var(--main-color);
	color: white;
	border: 2px solid var(--main-color);
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 500;
	margin: 0 5px;
}
.black-button:hover {
	background-color: white;
	color: var(--main-color);
	cursor: pointer;
}
h1 {
	margin: 0;
}
